<section>
    <h4>Contacta con nosotros</h4>
    <form id="contact-form">
        <div id="form-container" class="row uniform">
            <div class="6u$ 12u$(xsmall)">
                <input type="email" name="contact-email" id="contact-email" value="" placeholder="Email" required />
            </div>
            <div class="12u$">
                <textarea name="contact-message" id="contact-message" placeholder="Escribe tu mensaje aquí" rows="6" required></textarea>
            </div>
            <div class="12u$ form-terms">
                <input type="checkbox" name="contact-terms" id="contact-terms" />
                <label for="contact-terms">Acepto los <a href="https://www.paypal.com/es/webapps/mpp/ua/useragreement-full" rel="nofollow">términos de servicio</a></label>
            </div>
            <div class="12u$">
                <ul class="actions">
                    <li><input type="submit" id="submit-button" value="Enviar mensaje" class="special" /></li>
                    <li><input type="reset" value="Borrar" /></li>
                </ul>
            </div>
        </div>
        <div id="contact-success" class="hidden">
            <p>La consulta se ha enviado correctamente.</p>
        </div>
        <div id="contact-fail" class="hidden error">
            <br/>
            <p>La consulta no se pudo enviar, por favor inténtalo de nuevo en unos minutos.</p>
        </div>
        <div>
            <br/>
            <p class="legal-note">Nota legal. Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
        </div>
    </form>
</section>

<script src="../js/contactController.js"></script>
